$bg-color:rgb(231, 231, 231);
$bg-height:800px;
// $image-width:55%;
$abt-headfont-size:larger;
$abt-desc-head-alignment:left;
$abt-desc-top-pd:15%;
$abt-button-color:rgb(38, 211, 202);
$btn-radius:7px;
$max-width-about-area:90%;
// $image-margin:auto;
$abt-button-color-hover:rgb(19, 112, 108);
